body,html,h1,h2,h3,h4,h5,h6,p
{
    margin: 0;
    padding: 0;
}



.bck-img{
    background-image: url(".../randy-fath-G1yhU1Ej-9A-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    max-width: 2560px;
    height: 800px;
    margin: 0 auto;
    opacity: 0.5;
    
}


.container{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

 
